<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Backbone</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <header>
      <h1>Employee list</h1>
    </header>
    <main>
      <p>Total no., of employees: <%= employees.length %></p>
      <ul>
        <% for (emp of employees) { %>
        <li><a href="/employee/<%= emp.id %>"><%= emp.name %></a>: <%= emp.company %> <a href="/edit/<%= emp.id %>">edit</a></li>
        <% } %>
      </ul>
      <a href="/create">Add new employee!</a>
    </main>
  </body>
</html>
